{% extends 'basic.html' %} {% block body %}

<div class="container mt-4">
  <div class="card">
    <div class="card-header"><i class="fas fa-list"></i> Notice List</div>
    <div class="card-body container">
      <table id="table_id" class="display">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for i in n %}
          <tr>
              <td>{{i.title}}</td>
              <td>{{i.desc}}</td>
              <td>{{i.date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#table_id").DataTable();
  });
</script>

{% endblock body %}
